

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:hover{
    text-decoration: none;
}

ul,li,ol{
    list-style: none;
}


body{
    background: rgba(128, 128, 128, 0.28);
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}


/*HEADER*/

#header{
    padding:20px 0;
    width: 100%;
    background: rgba(130, 130, 130, 0.30);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header--logo{
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 1.5px;
    color: black;
}

.header--corner__search{
    border-radius: 10px;
    margin: 0 10px;
    padding: 5px 40px;
    background: rgb(0, 0, 0);
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 1.5px;
}

.header--corner__favorites{
    border-radius: 10px;
    padding: 5px 40px;
    background: rgb(122, 110, 110);
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 1.5px;
    color: white;
}
.header--corner__favorites--count{
    margin-left: 20px;
    position: absolute;
}
/*HEADER*/
.favorites--results{
    padding: 50px 0;
}

.favorites--results__data{
    height: 140px;
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
}


.favorites--result__title{
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 1.5px;
    color: black;
}

.favorites--results__data--info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.favorites--results__data--info__img{
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 30px;
}

.favorites--results__data--user{
    display: inline;
    margin: 0 10px;
}

.favorites--results__data--user__name{
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: black;
}

.favorites--results__data--user__link{
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1.5px;
    text-decoration: underline;
    color: black;
}

.favorites--results__data--active{
    margin: 0 30px;
    display: inline;
    text-align: end;
}

.favorites--results__data--active--star{
    border-radius: 10px;
    padding: 10px 10px;
    background: lightgrey;
    color: white;

}

.favorites--results__data--active--star__active{
    color: black;
}

.favorites--results__data--active--button{
    margin-top: 20px;

}

.favorites--results__data--active--button--btn{
    padding: 10px 50px;
    background: #000;
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: "Roboto", sans-serif;
    color: white;
}



.favorites--result__error{
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: red;
}

.favorites--result__http--title{
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: red;
}

/*HERO*/

/*HERO*/

/*HERO*/

#hero{
    min-height: 100vh;
    padding: 60px 0;
}

.hero--sorted{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.hero--sorted__users--title{
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 1.5px;
    color: black;
}

.hero--sorted__users--user{
    border-radius: 10px;
    border: none;
    outline: none;
    width: 500px;
    height: 40px;
    text-indent: 20px;
}

.hero--sorted--sort--items
{
    border-radius: 10px;
    border: none;
    outline: none;
    width: 200px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 1.5px;
}

.hero--sorted--sort--items--title{
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 1.5px;
    color: black;
}
.hero--sorted--order--items
{
    border-radius: 10px;
    border: none;
    outline: none;
    width: 200px;
    height: 40px;
    font-size: 17px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 1.5px;}

.hero--sorted--order--title{
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 1.5px;
    color: black;
}

.hero--sorted--perPage--items
{
    border-radius: 10px;
    border: none;
    outline: none;
    width: 100px;
    height: 40px;
    font-size: 17px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 1.5px;}

.hero--sorted--perPage--title{
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 1.5px;
    color: black;
}


.hero--results{
    padding: 50px 0;
}

.hero--results__data{
    height: 140px;
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
}


.hero--result__title{
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 1.5px;
    color: black;
}

.hero--results__data--info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero--results__data--info__img{
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 30px;
}

.hero--results__data--user{
    display: inline;
    margin: 0 10px;
}

.hero--results__data--user__name{
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: black;
}

.hero--results__data--user__link{
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1.5px;
    text-decoration: underline;
    color: black;
}

.hero--results__data--active{
    margin: 0 30px;
    display: inline;
    text-align: end;
}

.hero--results__data--active--star{
    border-radius: 10px;
    padding: 10px 10px;
    background: lightgrey;
    color: white;

}

.hero--results__data--active--star__active{
    color: black;
}

.hero--results__data--active--button{
    margin-top: 20px;

}

.hero--results__data--active--button--btn{
    padding: 10px 50px;
    background: #000;
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: "Roboto", sans-serif;
    color: white;
}



.hero--result__error{
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: red;
}

.hero--result__http--title{
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: red;
}

.pagination{
    margin: 100px 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__next{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: #000000;
    cursor: pointer;

}

.pagination__prev{
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: #000000;
    cursor: pointer;
}

.pagination__input{
    border: none;
    outline: none;
    width: 100px;
    height: 40px;
    font-size: 20px;
    text-indent: 20px;
}

/*HERO*/


/*info*/


.userContainer{
    padding-bottom: 20px;
    width: 90%;
    min-height: 100vh;
    position: absolute;
    left: 5%;
    margin: -300px auto;
    background-color: white;
}

.user--results{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.user--results__data{
    height: 140px;
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(128, 128, 128, 0.28);

}


.user--result__title{
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 1.5px;
    color: black;
}

.user--results__data--info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user--results__data--info__img{
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 30px;
}

.user--results__data--user{
    display: inline;
    margin: 0 10px;
}

.user--results__data--user__name{
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: black;
}

.user--results__data--user__link{
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1.5px;
    text-decoration: underline;
    color: black;
}

.user--results__data--active{
    margin: 0 30px;
    display: inline;
    text-align: end;
}

.user--results__data--active--star{
    border-radius: 10px;
    padding: 10px 10px;
    background: lightgrey;
    color: white;

}

.user--results__data--active--star__active{
    color: black;
}

.user--results__data--active--button{
    margin-top: 20px;

}

.user--results__data--active--button--btn{
    padding: 10px 50px;
    background: #000;
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: "Roboto", sans-serif;
    color: white;
}



.user--result__error{
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: red;
}

.user--result__http--title{
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: red;
}

.user__repos{
    height: 100px;
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(128, 128, 128, 0.28);
}

.user__repos--title{
    margin-left: 30px;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 1.5px;
    color: black;
}

.user__repos--button{
    margin-right: 20px;

}

.user__repos--button__btn{
    padding: 10px 50px;
    background: #000;
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: "Roboto", sans-serif;
    color: white;
}


.user--catalog{
    display: inline;

}


/*info*/


@media (max-width: 1200px) {

    .container{
        max-width: 1025px;
    }


    .pagination {
        margin: 100px 600px;
    }
    .user--results__close{

        margin: 0 20px;
    }

}

@media  (max-width: 1024px){

    .container{
        max-width: 992px;
    }

    .hero--sorted__users--user {
        width: 300px;
    }

}

@media  (max-width: 992px){

    .container{
        max-width: 820px;
    }
}

@media  (max-width: 820px) {

    .container {
        max-width: 770px;
    }

    .hero--sorted__users--user {
        width: 250px;
    }

    .hero--sorted--sort--items {
        width: 150px;
    }

    .hero--sorted--order--items {
        width: 150px;

    }

    .hero--sorted__users--title {
        font-size: 20px;
    }
}

@media  (max-width: 770px) {

    .container {
        max-width: 600px;
    }

    .hero--sorted__users--user {
        font-size: 12px;
        width: 200px;
    }

    .hero--sorted--sort--items {
        font-size: 12px;
        width: 100px;
    }

    .hero--sorted--order--items {
        font-size: 12px;
        width: 100px;

    }

    .hero--sorted__users--title {
        font-size: 15px;
    }

    .pagination {
        margin: 100px 400px;
    }
    .hero--sorted--perPage--items {
        width: 90px;
        font-size: 15px;
    }

    .hero--results__data {
        height: 240px;
        margin: 40px 0;
        display: block;
        background: #ffffff;
    }

    .hero--results__data--active--button {
        margin-top: auto;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .hero--results__data--active {
        margin: -160px 0;
        display: block;
        text-align: end;
    }

    .hero--results__data--info {
        display: block;
    }

    .hero--results__data--user__name {
        margin-bottom: 50px;
        margin-left: 30px;

    }

    .hero--results__data--active--button--btn {
        margin: 125px 0;
    }

    .userContainer {
        margin: -500px auto;
    }

    .user--results__data {
        height: 240px;
        margin: 40px 0;
        display: block;
        justify-content: space-between;
        align-items: center;
        background: rgba(128, 128, 128, 0.28);
    }

    .user--results__data--active {
        margin: 0 30px;
        display: block;
        text-align: end;
    }

    .user--results__data--info {
        margin: 20px;
        display: block;
        justify-content: center;
        align-items: center;
    }
    .user--results__data--active {
        margin: -150px 30px;
        display: block;
        text-align: end;
    }
    .user--results__data--active--button {
        margin-top: 100px;
    }
    .user--results__data--user__name {
        margin-bottom: 60px;
    }

    .user__repos {
        padding: 50px;
        text-align: center;
        height: 200px;
        display: block;
    }

    .user__repos--title {
        margin-left: 30px;
        margin-bottom: 70px;
    }
}

@media  (max-width: 600px) {

    .container {
        max-width: 485px;
    }

    .header--corner__search {
        padding: 5px 30px;
    }

    .header--corner__favorites {
        padding: 5px 30px;
    }

    .header--logo {
        font-size: 20px;
    }

    .hero--sorted__users--user {
        font-size: 12px;
        width: 150px;
    }

    .hero--sorted__users--title {
        font-size: 10px;
    }

    .hero--sorted--sort--items {
        font-size: 10px;
        width: 80px;
    }

    .hero--sorted--order--items {
        font-size: 10px;
        width: 80px;
    }

    .hero--sorted--perPage--items {
        font-size: 10px;
        width: 80px;
    }

    .hero--sorted--perPage--title {
        font-size: 10px;
    }

    .hero--sorted--order--title {
        font-size: 10px;
    }

    .hero--sorted--sort--items--title {
        font-size: 15px;
    }
    .hero--sorted--sort--items--title {
        font-size: 10px;
    }

    .pagination {
        margin: 100px 200px;
    }

    .favorites--results__data--info {
         display:block;
    }

    .favorites--results__data {
        height: 240px;
    }

    .favorites--results__data--active {
        margin-bottom: 5px;
        margin-right: 0;
    }

    .favorites--results__data--user__name {
        margin-bottom: 40px;
        margin-left: 40px;
    }
    .favorites--results__data--active--button {
        margin-top: 150px;
    }

    .userContainer {
        margin: -700px auto;
    }

    .user--results__data--active {
        margin: -190px 0;
    }

    .user--results__data--active--button {
        margin-top: 135px;
    }

    .user--results__data--active--button--btn {
        padding: 10px 20px;
    }
    .user__repos--title {
        line-height: 20px;
    }

}

@media  (max-width: 480px) {

    .container {
        max-width: 320px;
    }


    .header {
        display: block;
    }


    .header--logo {
        margin:  50px;
        font-size: 30px;
    }

    #header {
        padding: 50px 0;
        width: 100%;
        background: rgba(130, 130, 130, 0.30);
    }

    .header--corner{
        margin: 50px 0;
    }

    .hero--sorted {
        display: block;
    }

    .hero--sorted__users--user {
        font-size: 12px;
        width: 300px;
        margin: 0 10px;
    }

    .hero--sorted__users--title {
        font-size: 20px;
        margin: 20px;
    }

    .hero--sorted--sort--items {
        font-size: 14px;
        width: 300px;
        margin: 0 10px;
    }
    .hero--sorted--sort--items--title {
        font-size: 20px;
        margin: 20px;
    }

    .hero--sorted--order--title {
        font-size: 20px;
        margin: 20px;
    }

    .hero--sorted--order--items {
        font-size: 14px;
        width: 300px;
        margin: 0 10px;
    }

    .hero--sorted--perPage--title {
        font-size: 20px;
        margin: 20px;
    }

    .hero--sorted--perPage--items {
        font-size: 14px;
        width: 300px;
        margin: 0 10px;
    }

    .pagination {
        margin: 100px 100px;
    }

    #mask {
        position: absolute;
        top: 110%;
    }

    .hero--results__data--active--button--btn {
        margin: 50px 0;
        padding: 10px 0;
    }
    .hero--results__data--active {
        margin: -160px 20px;
        display: block;
        text-align: end;
    }

    .favorites--results__data {
        height: 240px;
        margin: 40px 0;
        display: block;
        background: #ffffff;
    }

    .favorites--results__data--active {
        margin: -160px 0;
        display: block;
        text-align: end;
    }

    .favorites--results__data--user__name {
        margin-bottom: 40px;
        margin-left: 0;
    }
    .favorites--results__data--active--button {
        margin-top: 50px;
    }

    .favorites--results__data--active--button--btn {
        padding: 10px 10px;
    }


    .user__repos--button__btn {
        padding: 10px 30px;
    }

}




